html {
    position: relative;
    height: 100%;
    width: 100%;
}
body {
    padding: 0;
    margin: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial, sans-serif;
}
body {
  background-color: black;
}
.main {
    text-align: center;
}
.mast {
    width: 100%;
    text-align: center;
    padding: 10px 0;
}
.logo {
    width: 100px;
    float: left;
}
h1 {
    font-family: "Montserrat", "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial, sans-serif;
    text-align: center;
    font-weight: 400;
    color: #797979;
    margin: 20px;
    padding: 25px;
    font-size: 30px;
}
.section {
    width: 100%;
}
.country-button {
    font-family: "Open Sans", "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial, sans-serif;
    font-size: 12px;
    color: #7d7d7d;
    text-decoration: none;
    display: inline-block;
    box-shadow: 1px 1px 2px 0 #cccccc;
    border-radius: 3px;
    background-clip: padding-box;
    margin: 10px 6px;
}
.country-button span {
    padding: 10px 6px;
    display: block;
    text-align: left;
}
.country-button:hover {
    box-shadow: 1px 1px 4px 2px #cccccc;
}
.country-button img {
    max-width: 100%;
}

@media (min-width: 640px) {
    .section {
        width: 700px;
        margin: 0 auto;
        text-align: center;
        display: block;
    }
}
body {
    color: grey;
}
